footer{
    padding: 0 16px 16px 16px;
    max-width: 1440px;
    margin: auto;
}

.footer-container{
    display: flex;
    justify-content: center;
    background: hsla(0,0%,100%,.03);
    width: 100%;
    padding: 1.5rem;
    border-radius: 20px;
}

.copyright{
    margin-bottom: 34px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, .8);
}

.footer-social{
    display: flex;
    align-items: center;
}

.footer-logo{
    width: 76px;
    height: auto;
    margin-right: 50px;
}

.footer-icon{
    margin-right: 28px;
}