.grid-container{
    display: flex;
}

.gallery-title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 80px;
    margin-top: 140px;
}

.slideable-sliding{
  overflow-x: auto;
  width: 100%;
}

.grid{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 16rem;
  grid-template-rows: 220px 220px;
  column-gap: 1.5rem;
  row-gap: 2rem;
}

.grid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 30px;
}

.statistic{
    background:hsla(0,0%,100%,.03);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistic h4{
    font-size: 1.5rem;
}

