.support-us{
    text-align: center;
    margin: 6.25rem auto 3.13rem auto;
    font-weight: 600;
    font-size: 2.5rem;
}

.sponsors{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gold-sponsor{
    display: flex;
    flex-direction: column;
    margin-bottom: 3.13rem;
}

@media(min-width: 900px){

    .sponsors{
        gap: 5rem;
    }

    .gold-sponsor{
        flex-direction: row;
        gap: 3rem;
    }
    
    .left{
        flex-direction: row-reverse;
    }

    .sponsor-image{
        flex: 0 0 50%;
    }

    .sponsor-info{
        flex: 0 0 50%;
    }

}

.sponsor-image{
    border-radius: 1.88rem;
}

.sponsor-info{
    display: flex;
    flex-direction: column;
}

.sponsor-heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sponsor-type{
    display: inline-block;
    width: 8.13rem;
    font-size: 0.75rem;
    font-weight: 800;
    line-height: 1.13rem;
    padding: 3px 16px;
    margin-bottom: 8px;
    color: #0a181b;
    background: var(--dump-cyan);
    border-radius: 8px;
    margin-top: 1.56rem;
}

.sponsor-title{
    font-size: var(--title-size);
    line-height: 2.25rem;
    margin-right: 1.69rem;
    font-weight: 800;
}

.sponsor-description{
    color: hsla(0, 0%, 100%, .8);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
