.how-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    max-width: 390px;
    margin: 0 auto;
    font-family: var(--main-font);
    gap: 60px;
}
.how-container {
    display: flex;
    flex-direction: column;
    width: 327px;
    gap: 15px;
}
.how-main-title {
    font-size: var(--title-main-size);
    font-weight: 800;
    line-height: 1.1;
    color: var(--title-color);
    margin-bottom: 5px;
}
.how-title-container {
    display: flex;
    align-items: center;
    position: relative; 
    height: 50px;
}
.how-title-icon {
    position: absolute;
    left: -15px; 
    width: 35px; 
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; 
}
.how-title1 { background-image: url('../assets/how/logo1.png'); }
.how-title2 { background-image: url('../assets/how/logo2.png'); }

.how-title {
    font-size: var(--title-size);
    font-weight: 800;
    color: var(--title-color);
    position: relative;
    z-index: 2;
    margin: 0;
    margin-left: 10px; 
}
.how-paragraph {
    font-size: var(--text-secondary-size);
    line-height: 1.5;
    color: var(--text-secondary);
    width: 100%;
    padding-left: 10px; 
}
.how-container:first-child .how-paragraph {
    padding-left: 0;
}
