.how-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    max-width: 390px;
    margin: 0 auto;
    font-family: var(--main-font);
    gap: 60px;
}
.how-container {
    display: flex;
    flex-direction: column;
    width: 327px;
    gap: 15px;
}
.how-main-title {
    font-size: var(--title-main-size);
    font-weight: 800;
    line-height: 1.1;
    color: var(--title-color);
    margin-bottom: 5px;
}
.how-title-container {
    display: flex;
    align-items: center;
    position: relative; 
    height: 50px;
}
.how-title-icon {
    position: absolute;
    left: -15px; 
    width: 35px; 
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; 
}
.how-title1 { background-image: url('../assets/how/logo1.png'); }
.how-title2 { background-image: url('../assets/how/logo2.png'); }

.how-title {
    font-size: var(--title-size);
    font-weight: 800;
    color: var(--title-color);
    position: relative;
    z-index: 2;
    margin: 0;
    margin-left: 10px; 
}
.how-paragraph {
    font-size: var(--text-secondary-size);
    line-height: 1.5;
    color: var(--text-secondary);
    width: 100%;
    padding-left: 10px; 
}
.how-container:first-child .how-paragraph {
    padding-left: 0;
}
@media (min-width: 1150px) {
    .how-section {
        display: grid;
        grid-template-columns: auto auto; 
        grid-template-rows: auto auto;
        justify-content: center; 
        column-gap: 400px; 
        max-width: 1500px;
        margin: 0 auto;
        padding: 100px 20px;
        row-gap: 60px;
        align-items: start;
    }
    .how-container:nth-child(1) {
        grid-column: 1 / span 2; 
        grid-row: 1;
        max-width: 600px; 
        width: 100%;
        margin-bottom: 20px;
    }

    .how-container:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
        max-width: 440px;
        width: 100%;
    }

    .how-container:nth-child(3) {
        grid-column: 2;
        grid-row: 2;
        max-width: 440px;
        width: 100%;
        align-self: start; 
    }
    .how-main-title {
        font-size: 3rem;
        line-height: 1.1;
        margin-bottom: 24px;
    }

    .how-paragraph {
        font-size: 1rem; 
        line-height: 1.4;
        color: rgba(255, 255, 255, 0.7); 
        max-width: 300px;
    }

    .how-main-paragraph {
        max-width: 505px; 
    }

    .how-container:not(:first-child) .how-paragraph {
        padding-left: 20px; 
    }
    
    .how-container {
        width: 100%;
        gap: 15px;
    }

    .how-title-icon {
        width: 64px; 
        height: 64px;
    }

    .how-title {
        font-size: 32px;
    }
}