.lecture {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    max-width: 390px;
    margin: 0 auto;
    margin-top: 5rem;
    font-family: var(--main-font);
    gap: 60px;
}
.lecture-container {
    display: flex;
    flex-direction: column;
    width: 327px;
    gap: 25px;
}
.lecture-pic {
    width: 100%;
    height: 400px;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.lecture-container1 .lecture-pic { background-image: url('../assets/lectures/pics/pic1.png'); }
.lecture-container2 .lecture-pic { background-image: url('../assets/lectures/pics/pic2.png'); }

.lecture-info {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-bottom: 20px;
}
.lecture-title-container {
    display: flex;
    align-items: center;
    position: relative; 
    height: 50px; 
}
.title-icon {
    position: absolute;
    left: -15px; 
    width: 55px; 
    height: 55px;
    background-size: contain;
    background-position: center;
    z-index: 1; 
    opacity: 0.5; 
}
.lecture-title1 { background-image: url('../assets/lectures/logos/logo1.png'); }
.lecture-title2 { background-image: url('../assets/lectures/logos/logo2.png'); }
.lecture-title3 { background-image: url('../assets/lectures/logos/logo3.png'); }
.lecture-title4 { background-image: url('../assets/lectures/logos/logo4.png'); }
.lecture-title5 { background-image: url('../assets/lectures/logos/logo5.png'); }

.lecture-title {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--title-color);
    position: relative;
    z-index: 2;
    margin: 0;
    margin-left: 10px; 
}
.lecture-live {
    background-color: var(--dump-cyan);
    color: var(--background-color);
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 0.7rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-left: 10px;
    width: fit-content; 
    display: inline-block;
    position: relative;
    z-index: 2;
}
.lecture-paragraph {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-secondary);
    width: 100%;
    padding-left: 10px; 
}
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.reveal-left, .reveal-right {
    view-timeline-name: --reveal;
    view-timeline-axis: block;
    animation-timeline: --reveal;
    animation-range: entry 5% cover 25%;
    animation-fill-mode: both;
}
.reveal-left {
    animation-name: slideInLeft;
}
.reveal-right {
    animation-name: slideInRight;
}