.notice-board-title{
    font-size: var(--title-main-size);
    line-height: 2.28rem;
    font-weight: 800;
    margin-bottom: 5rem;
    text-align: center;
}

.notice-board-subtitle{
    font-size: var(--title-size);
    line-height: 2.25rem;
    font-weight: 800;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--dump-cyan);
}

.background-logo {
    width: 10rem;
    height: 3.13rem;
    background-position: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.job-list-slider{
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.job-slider-item{
    width: 29rem;
    max-width: 29rem;
    min-width: 29rem;
    padding: 1.25rem 2.5rem 1.88rem 2.5rem;
    height: fit-content;
    margin-bottom: 6.25rem;
    margin-left: 1.88rem;
    border-radius: 1.88rem;
    background: hsla(0, 0%, 100%, .05);
}

.job-name{
    display: flex;
    height: 3.13rem;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.job-location{
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 5px;
    margin-bottom: 2.5rem;
}

.job-description {
    font-weight: 400;
    margin-bottom: 2rem;
}

.find-out-more-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 2rem;
    font-size: 1.125rem;
    background-color: var(--dump-cyan);
    border-radius: 0.625rem;
    color: #0a181b;
    font-weight: 900;
}



