.silver-title{
    margin-top: 7.5rem;
    margin-bottom: 5.625rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--dump-cyan);
}

.other-sponsors-title{
    margin-top: 2.81rem;
    margin-bottom: 4.69rem;
    text-align: center;
    font-size: 2.5rem;
    color: var(--dump-cyan);
}

.sponsors-container{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 6.25rem;
    align-items: center;
    justify-content: center;
}

.sponsor-wrapper{
    margin-top: 3.125rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsor-wrapper .background-logo{
    width: 10rem;
    height: 8.75rem;
    background-position: center;
}
