@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.reveal-left, .reveal-right {
    view-timeline-name: --reveal;
    view-timeline-axis: block;
    animation-timeline: --reveal;
    animation-range: entry 5% cover 25%;
    animation-fill-mode: both;
}
.reveal-left {
    animation-name: slideInLeft;
}
.reveal-right {
    animation-name: slideInRight;
}