.support-us{
    text-align: center;
    margin: 100px auto 56px auto;
    font-weight: 600;
    font-size: 40px;
}

.sponsors{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gold-sponsor{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.sponsor-image{
    border-radius: 30px;
}

.sponsor-heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sponsor-type{
    display: inline-block;
    width: 130px;
    font-size: 12px;
    font-weight: 800;
    line-height: 18px;
    padding: 3px 16px;
    margin-bottom: 8px;
    color: #0a181b;
    background: #30cec2;
    border-radius: 8px;
    margin-top: 25px;
}

.sponsor-title{
    font-size: 24px;
    line-height: 36px;
    margin-right: 27px;
    font-weight: 800;
}

.sponsor-description{
    color: hsla(0, 0%, 100%, .8);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}
