.notice-board-title{
    font-size: 32px;
    line-height: 38px;
    font-weight: 800;
    margin-bottom: 80px;
    text-align: center;
}

.notice-board-subtitle{
    font-size: 24px;
    line-height: 36px;
    font-weight: 800;
    margin-bottom: 48px;
    text-align: center;
    color: #30cec2;
}

.background-logo {
    width: 160px;
    height: 50px;
    background-position: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.job-list-slider{
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.job-slider-item{
    width: 464px;
    max-width: 464px;
    min-width: 464px;
    padding: 20px 40px 30px 40px;
    height: fit-content;
    margin-bottom: 100px;
    margin-left: 30px;
    border-radius: 30px;
    background: hsla(0, 0%, 100%, .05);
}

.job-name{
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
}

.job-location{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 5px;
    margin-bottom: 40px;
}

.job-description {
    font-weight: 400;
    margin-bottom: 32px;
}

.find-out-more-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 32px;
    font-size: 18px;
    background-color: #30cec2;
    border-radius: 10px;
    color: #0a181b;
    font-weight: 900;
}



