.silver-title{
    margin-top: 120px;
    margin-bottom: 90px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #30cec2;
}

.bronze-sponsors-title{
    margin-top: 45px;
    margin-bottom: 75px;
    text-align: center;
    font-size: 40px;
    color: #30cec2;
}

.sponsors-container{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
}

.sponsor-wrapper{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsor-wrapper .background-logo{
    width: 160px;
    height: 140px;
}
